/* ==========================================================================
   Feed reader ~Jakob Nederby Nielsen
   ========================================================================== */
@media (min-width: 1000px) {	
	.row{
		clear:both;
	}
	.extra{
		margin:1px 0 0 0;
		font-size:11px;
		color:#696969;
	}
	
	.topNews{
		width:33.3%;
		border:0px solid black;
		float: left;
		margin-bottom:35px;
	}
	
	.latestNews{
		height:75px;
		width:25%;
		float:left;
	}
	
	.topNewsPicture{
		width:100%
	}
	.latestNewsPicture{
		float:left;
		margin:5px;
	}
}